.filter-panel {
  width: 232px;
  height: 252px;
  background-color: #fff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.filter-panel__title {
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.5px;
  vertical-align: bottom;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  color: #1e1e1e;
  padding: 20px 0 20px 0;
  height: 12px;
  box-sizing: border-box;
}

.filter-panel__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0 0 20px;
  margin: 0;
  width: 100%;
}

.filter-panel__item {
  align-items: center;
  color: #1e1e1e;
  display: flex;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0px;
  vertical-align: middle;
  gap: 10px;
  height: 40px;
  padding-left: 23px;
  width: 100%;
}

.filter-panel__label {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.filter-panel__input {
  width: 20px;
  height: 20px;
  background-image: url('../assets/Checkbox.svg');
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:checked {
    transition: background-image 0.3s ease-in-out;
    background-image: url('../assets/Checkbox-active.svg');
  }
  &:hover {
    cursor: pointer;
  }
}
